# Config file for automatic testing at travis-ci.org

language: python

python:
  - "2.7"

install:
    - pip install -r requirements.txt
    - pip install python-coveralls

script:
    - py.test --cov archiver --cov-report term-missing

after_success:
    - coveralls
