-e git+https://github.com/rliebz/python-client-sword2.git#egg=sword2
-e git+https://github.com/rliebz/dvn-client-python.git#egg=dataverse
amqp==1.4.5
anyjson==0.3.3
beautifulsoup4==4.3.2
billiard==3.3.0.17
boto==2.28.0
bson==0.3.3
celery>=3.1.12
dropbox==2.0.0
Flask==0.10.1
GitPython==0.1.7
invoke==0.8.1
itsdangerous==0.24
Jinja2==2.7.2
kombu==3.0.16
MarkupSafe==0.21
oauthlib==0.6.1
py==1.4.20
python-dateutil==2.2
pytz==2014.2
requests-oauthlib==0.4.0
requests==2.2.1
smartfile==2.1-6
urllib3==1.8.2
Werkzeug==0.9.4
wsgiref==0.1.2
