Flask==0.10.1
GitPython==0.1.7
Jinja2==2.7.2
MarkupSafe==0.21
Werkzeug==0.9.4
amqp==1.4.5
anyjson==0.3.3
billiard==3.3.0.17
boto==2.28.0
bson==0.3.3
celery==3.1.11
dropbox==2.0.0
invoke==0.7.0
itsdangerous==0.24
kombu==3.0.16
mock==1.0.1
oauthlib==0.6.1
py==1.4.20
pytest==2.5.2
pytz==2014.2
requests==2.2.1
requests-oauthlib==0.4.0
smartfile==2.1-6
urllib3==1.8.2
wsgiref==0.1.2
WebTest==2.0.15
