[program:archiverforeman]
command=/Archiver/Foreman
directory=/Archiver/
user=vagrant
autostart=true
autorestart=true
stdout_logfile=/var/log/archiver/foreman.log
stderr_logfile=/var/log/archiver/foreman.log
